#navigation {
    margin: 0;
    padding: 0;
}

#navigation .navbar-brand {
    width: auto;
    padding: 5px;
    display: flex;
    align-items: center;
}

#navigation .navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 0px 10px;
}

#navigation .navbar-brand p {
    font-size: 0.85em;
    margin: 0%;
    padding: 0px 10px;
}

#image-slider #main-carousel{
    width: auto;
    height: 500;
    max-height: 225px;
    overflow: hidden;
}

#image-slider img {
	text-align: center;
}