@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

/*Navbar*/

.navbar-brand {
    font-family: Roboto;
    font-weight: bold;
    margin-top: 3px;
    padding: 13px;
}

.image-profile {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
    padding: 0px;
    height: 25px;
    width: 25px;
}

.badge-notify {
    background: darkred;
    position: relative;
    top: -14px;
    left: -13px;
}

.glyphicon-bell {
    font-size: 18px;
}

#notification-button {
    padding: 0px;
    margin: 0px;
    display: inline-block !important;
    margin-left: 0px;
}

.notification-button * {
    display: inline-block !important;
}

.dropdown-menu {
}

.dropdown-toggle {
    padding-right: 0px;
    padding-right: 0px;
}

.dropdown-header {
    font-size: 1.5em;
    text-align: center;
}

.dropdown-item {
    text-align: right;
    margin-right: 10px;
}

/*Sidebar*/

body {
    overflow-x: hidden;
}

#wrapper {
    margin-top: 60px;
    padding-left: 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: black;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    list-style: none;
    width: 250px;
    padding: 0;
    margin: 0;
    top: 20px;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 30px;
}

.sidebar-nav .sidebar-submenu {
    text-indent: 20px;
    line-height: 25px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li span {
    padding: 7px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #7f0000;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    background: #7f0000;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 22px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        margin-top: 54px;
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*Content Wrapper*/

#page-content-wrapper {
    padding: 0px;
    height: 500px;
}


#toggle-button {
	margin: 15px;
    margin-right: 30px;
}

#toggle-button i {
    color: #9d9d9d;
    font-size: 1.6em;
}

#toggle-button i:hover {
    color: whitesmoke;
    font-size: 1.6em;
}
/*Bottoni*/

#page-container {
    margin-top: 20px;
}

#page-container .btn {
    border-radius: 0px;
    padding: 10px;
    margin: 5px;
}

.btn-sq {
    background-color: #7f0000;
    width: 250px;
    height: 250px;
    padding: 0px;
}
.btn-sq *{
    padding: 0px;
    margin: 0px;
}
.btn-sq i {
    font-size: 10em;
    color: white;
    height: 70%;
    padding: 10%;
}

.btn-sq h1 {
    background-color: rgba(180, 18, 18, 0.6);
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: 2em;
    height: 30%;
    padding: 7%;
    color: white;
}


/*Telefono*/

@media only screen and (max-width: 767px) {
    .btn-sq {
        width: 140px !important;
        height: 140px !important;
    }
    .btn-sq i {
        font-size: 3em;
    }
    .btn-sq h1 {
        border-radius: 3px;
        font-size: 0.8em;
    }
}

/*Tablet*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn-sq {
        width: 200px !important;
        height: 200px !important;
    }
    .btn-sq i {
        font-size:6em;
    }
    .btn-sq h1 {
        border-radius: 3px;
        font-size: 1.5em;
    }
}

/*Desktop*/

@media only screen and (min-width: 992px) {
    .btn-sq {
        width: 360px !important;
        height: 360px !important;
    }
}