@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}


/*Navbar*/

#navbar-container {
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.navbar-brand {
    margin-top: 3px;
    padding: 13px;
}

.image-profile {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
    padding: 0px;
    height: 25px;
    width: 25px;
}

.badge-notify {
    background: red;
    position: relative;
    top: -14px;
    left: -13px;
}

.glyphicon-bell {
    font-size: 18px;
}

#notification-button {
    padding: 0px;
    margin: 0px;
    display: inline-block !important;
    margin-left: 0px;
}

.notification-button * {
    display: inline-block !important;
}

.dropdown-toggle {
    padding-right: 0px !important;
    padding-right: 0px !important;
}

.dropdown-header,
.dropdown-item {
    text-align: center;
}


/*Sidebar*/

body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 30px;
}

.sidebar-nav .sidebar-submenu {
    text-indent: 20px;
    line-height: 25px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li span {
    padding: 7px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 22px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/*Content Wrapper*/

#page-content-wrapper {
    padding: 0px;
    height: 500px;
}

#toggle-button {
    padding-left: 0px;
    margin: 50% 0%;
}

@media (min-width:768px) {
    #toggle-button {
        margin: 10% 0%;
    }
}

#sidebar-btn {
    padding: 30px 0px;
}

#buttons-container {
    margin: 0px;
}


/*Bottoni*/

#buttons-container .btn {
    border-radius: 0px;
    padding: 10px;
    margin: 5px;
}

.btn-sq {
    background-color: #7f0000;
    width: 250px;
    height: 250px;
    padding: 0px;
}

.btn-sq i {
    margin-top: 40px;
    font-size: 10em;
    color: white;
    height: 60%;
}

.btn-sq h1 {
    background-color: rgba(180, 18, 18, 0.6);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: 2em;
    padding: 25px;
    color: white;
}


/*Telefono*/

@media only screen and (max-width: 767px) {
    .btn-sq {
        width: 120px !important;
        height: 120px !important;
    }
    .btn-sq i {
        margin-top: 10px;
        font-size: 3em;
        height: 60%;
    }
    .btn-sq h1 {
        margin: 0px;
        border-radius: 3px;
        font-size: 0.8em;
        padding: 5px;
    }
}


/*Tablet*/

@media only screen and (min-width: 768px) and (max-width: 991px){
    .btn-sq {
        width: 190px !important;
        height: 190px !important;
    }
    .btn-sq i {
        margin-top: 13px;
        font-size: 8em;
        height: 60%;
    }
    .btn-sq h1 {
        margin: 0px;
        margin-top: 20px;
        border-radius: 3px;
        font-size: 1.5em;
        padding: 7px;
    }
}


/*Desktop*/

@media only screen and (min-width: 992px) {
    .btn-sq {
        width: 330px !important;
        height: 330px !important;
    }
}