table, tr, th {
    margin: auto;
    text-align: center;
}

td:hover {
    background-color: #eeeeee;
}

td {
    height: 120px;
}

main {
    text-align: center;
    padding: auto;
}

#topTable {
    padding-bottom: 1%;
}

#today {
        width: 80px;
    }




/****************************
*       MEDIA QUERIES
*****************************/
@media (max-width: 600px) {
    td {
        height: 60px;
    }

    button {
        height: 50px;
    }

}

