table, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
}

main {
    margin-left: 30%;
    margin-right: 30%;
    width: 39.20%
}

caption {
    opacity: 0;
}

#nextMonth {
    right: 50%;
}
